package components

templ header(person string) {
	<head>
		<meta charset="UTF-8"/>
		<meta name="author" content="Gary Feng"/>
		<meta name="description" content="Electronic Medical Record"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>{ person }</title>
		<script src="/internal/htmx.min.js"></script>
		<link href="/frontend/chart.css" rel="stylesheet"/>
	</head>
}
