<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="author" content="Gary Feng"/>
    <meta name="description" content="Electronic Medical Record"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>EMR Login</title>
    <script src="/static/htmx.min.js"></script>
    <script src="https://unpkg.com/htmx-ext-json-enc@2.0.1/json-enc.js"></script> 
    <!-- <link href="index.css" rel="stylesheet"/> -->
</head>


<body>
    <div id="login">
        <h3>Login</h3>
    </div>
    <form 
        hx-post="/login"
        hx-trigger="submit"
        hx-target="#login-response"
        hx-headers='{"Content-Type": "application/json"}'
        hx-ext="json-enc"> <!-- NEED HTMX EXTENSION OTHERWISE IT WONT SEND VIA JSON WHY??!???!?!??-->
        <div class="form-group">
            <label>Username</label> 
            <input type="text" class="form-control" name="username" placeholder="Username" required>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>
        <button type="submit" class="btn primary">
            Login
        </button>
    </form>
    <div id="login-response"></div>
</body>
</html>