package components

templ ChartFooter(chartID string, doctor string) {
	<footer class="footer">
		<h6>{ chartID }</h6>
		<p>
			<a>{ doctor } </a>
			<button
				hx-put="/patients/charts"
				hx-target="#chart-body"
				hx-headers='{"Content-Type": "application/json"}'
				hx-ext="json-enc"
			>
				Save Chart
			</button>
		</p>
	</footer>
}
