<!--header.html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Gary Feng">
    <meta name="description" content="Electronic Medical Record (EMR)">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .title }}'s</title>
    <script src="/internal/htmx.min.js"></script>
    <link href="/frontend/chart.css" rel="stylesheet">
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <a class="logo">{Name}</a>
        <ul class="nav-tabs">
            <li><a> {{ chart_id }}</a></li> 
            <li><a> {{ dob }}</a></li> 
            <li><a> {{ primary care physician }} </a></li>
        </ul>
    </nav>

    <!--Chart-->
    <a>Symptoms: </a>
    <a>Medications: </a>

    <!--Footer-->
    <footer class ="footer">
        <p>
            <a> {Current person logged in} </a>
            <button hx-put="/patients/charts">
                Save Chart
            </button>
        </p>
    </footer>
</body>

</html>
